.aboutpage {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 450px;
  grid-auto-flow: dense;
  align-items: center;
  justify-items: center;
  margin-bottom: 80px;
}

.stage-cube-cont {
  width: 20%;
  height: 50%;
  position: relative;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

.text-zone2 {
  position: relative;
  width: 300px;
}

.about-me {
  font-size: 35px;
  color: #ffd700;
  // font-weight: 400;
  margin-top: 0;
  position: relative;

  &:before {
    margin-top: -10px;
    left: -10px;
    line-height: 18px;
  }

  &:after {
    line-height: 18px;
    left: -30px;
    bottom: -20px;
    margin-left: 20px;
    opacity: 0.6;
  }
}

.text-animate-hover {
  &:hover {
    color: #ffffff;
  }
}

p {
  font-size: 15px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  max-width: fit-content;
  animation: pulse 1s;
  &:nth-of-type(1) {
    animation-delay: 1.1s;
  }
  &:nth-of-type(2) {
    animation-delay: 1.2s;
  }
  &:nth-of-type(3) {
    animation-delay: 1.3s;
  }
}

@media (min-width: 1000px) {
  .aboutpage {
    padding-top: 0px;
  }
  .text-zone2 {
    width: 500px;
  }

  .about-me {
    font-size: 50px;
    margin-bottom: 20px;
  }

  p {
    font-size: 15px;
  }
}
